.products-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--Rose-900);
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding-block: .5rem;
}