.modal-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .65);
    animation: scalein .2s ease;
    z-index: 1000;
}

@keyframes scalein{
    from{transform: scale(.5); opacity: 0;}
    to{transform: scale(1); opacity: 1;}
}

.modal{
    width: 90%;
    max-width: 300px;
    padding: 1rem 2rem;
    background: var(--Rose-50);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal-title{
    color: var(--Rose-900);
    font-weight: 700;
    margin-block: .5rem;
}

.text{
    font-size: .75rem;
    color: var(--Rose-300);
    font-weight: 500;
}

.modal-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--Rose-100);
    padding: .5rem;
    margin-block: .5rem;
    border-radius: .5rem;
}

.modal-item > p {
    margin: 0;
    margin-left: auto;
    font-weight: 700;
    font-size: .75rem;
    color: var(--Rose-400);
}

.modal-item img{
    border-radius: .5rem;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: .5rem;
}

.modal-item .detail h5{
    font-size: .7rem;
    font-weight: 700;
}

.modal-item .detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.calc{
    display: flex;
    gap: .5rem;
}

.calc p:first-child{
    font-weight: 700;
    color: var(--Red);
}

.calc p:last-child{
    color: var(--Rose-300);
}

.modal .total{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Rose-300);
    font-size: .65rem;
    font-weight: 700;
    margin-top: .5rem;
}

.modal .total span{
    font-size: 1rem;
    color: var(--Rose-900);
}

.checkout{
    width: 100%;
    margin-top: 2rem;
    color: var(--Rose-50);
    background: var(--Red);
    border-radius: 2rem;
    padding: .75rem 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.checkout:hover{
    transform: scale(1.1);
}