/* .app{
  width: 100%;
  display: grid;
  place-content: center;
  justify-items: center;
} */

.grid-container{
  width: 100%;
  height: 100%;
  padding: 4.5rem 7%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* place-items: center; */
  gap: 2rem;
}



@media(max-width:600px){
  .grid-container{
    grid-template-columns: 1fr;
  }
}